<!DOCTYPE html>
<html>

<head>
    <title>Coquilleur | Décoquilleur</title>

    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" />

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    <!-- codeMirror library -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='codeMirror/css/codemirror.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='codeMirror/css/codemirror-custom.css')}}" />

    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='codeMirror/js/codemirror.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='codeMirror/js/AsmArm.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='codeMirror/js/AsmAarch64.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='codeMirror/js/Asm86.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='codeMirror/js/Asm64.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='codeMirror/js/active-line.js')}}"></script>

    <!-- d3 & graphlib libraries -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='graph/css/graph.css')}}" />

    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='graph/js/d3.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='graph/js/graphlib-dot.js')}}"></script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='graph/js/dagre-d3.js')}}"></script>    

    <!-- shellcodes exemple-->
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='shellcodes.js')}}"></script>

</head>

<body>
    <div id="content">

        <div id="logo">
            <a href="/"><img src="{{url_for('static', filename='coquillage.png')}}" /></a>
        </div>

        {% if error is defined %}
        <p style="color: red; ">{{error}}</p>
        {% endif %}

        <div id="forms">
            <form action="/#result" method="POST" onsubmit="submit_asm()">
                <input type="hidden" name="action" value="compile" />

                <textarea id="code" name="asm" spellcheck="false">{{asm_value}}</textarea>

                <div style="display: flex;justify-content: space-between;">
                    <p>
                        Base: <input type="text" name="base" value="{{base | default('0', true)}}" />
                    </p>
                    <p>
                        <label for="shellcodes">Shellcodes:</label>
                        <select name="shellcodes" id="shellcodes" onchange="selectSC()"></select>
                    </p>
                    <p>
                        <input type="radio" name="arch" class="arm" value="arm" /> arm
                        <input type="radio" name="arch" class="aarch64" value="aarch64" /> aarch64
                        <input type="radio" name="arch" class="x86" value="x86" /> x86
                        <input type="radio" name="arch" class="x86_64" value="x86_64" checked=checked /> x86_64

                        <input type="submit" value="Encoquiller" />
                    </p>
                </div>
            </form>
            <hr />
            <form action="/#result" method="POST">
                <input type="hidden" name="action" value="disasm" />
                
                <textarea rows="15" cols="80" name="bytecodes" id="bytescodes">{{bcode_value}}</textarea>

                <div style="display: flex;justify-content: space-between;">
                    <p>
                        Base: <input type="text" name="base" value="{{base | default('0', true)}}" />
                    </p>
                    <p>
                        <input type="radio" name="arch" class="arm" value="arm" /> arm
                        <input type="radio" name="arch" class="aarch64" value="aarch64" /> aarch64
                        <input type="radio" name="arch" class="x86" value="x86" /> x86
                        <input type="radio" name="arch" class="x86_64" value="x86_64" checked=checked /> x86_64

                        <input type="submit" value="Décoquiller" />
                    </p>
                </div>
            </form>
        </div>

        {% if result is defined %}
        {% include 'result.html' %}
        {% endif %}


        <footer></footer>
    </div>

    <script>
        var editor = null;
        var shellcodes_select;

        window.onload = function() {
            editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                styleActiveLine: true,
                dragDrop: false,
                tabSize: 4,
                indentUnit: 4,
                smartIndent: false,
                indentWithTabs: true,
                showCursorWhenSelecting: true,
                mode: "asm64"
            });

            {% if old_checked is defined %}

            var old_checked = "{{old_checked}}";
            var el = document.getElementsByClassName(old_checked);

            for (var i = 0; i < el.length; i++) {
                el[i].checked = true;
                change_language(el[i].value);
            }

            {% endif %}

            shellcodes_select = document.getElementById('shellcodes');

            for (let i = 0; i < SHELLCODES.length; i++) {
                const shellcode = SHELLCODES[i];
                var opt = document.createElement('option');
                opt.value = shellcode.name;
                opt.innerHTML = shellcode.name;
                shellcodes_select.appendChild(opt);
            }

            {% if asm_value == "" %}
            editor.setValue(atob(SHELLCODES[0].shellcode));
            {% endif %}
        }
        function selectSC(){
            const id = shellcodes_select.selectedIndex;
            const shellcode = SHELLCODES[id];
            editor.setValue(atob(shellcode.shellcode));
            
            change_language(shellcode.arch);

            
            var selectedValue = document.querySelector('input[name="arch"]:checked');
            for (let i = 0; i < selectedValue.length; i++) {
                const element = selectedValue[i];
                element.checked = false;
            }

            let radios = document.getElementsByClassName(shellcode.arch);

            for (let i = 0; i < radios.length; i++) {
                const element = radios[i];
                element.checked = true;
            }

            document.getElementById("bytescodes").innerText = "";
        }


        function submit_asm() {
            editor.save();
            return true;
        }

        document.body.addEventListener("change", function (e) {
            let target = e.target;
            change_language(target.value);
        });

        function change_language(lang) {
            switch(lang) {
                case "arm":
                    editor.setOption("mode", "asmarm");
                    break;
                case "aarch64":
                    editor.setOption("mode", "asmaarch64");
                    break;
                case "x86":
                    editor.setOption("mode", "asm86");
                    break;
                case "x86_64":
                    editor.setOption("mode", "asm64");
                    break;
                default:
                    console.log("Error. Language not supported.")
                    break;
            }
        }
    </script>
</body>
</html>